@{
    Layout = "layout.cshtml";
}

@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.Web.Models
@using Crossout.Web.Models.Changes
@model Crossout.Web.Models.Changes.ChangesModel


@Html.Partial("header", Model)

@Html.Partial("status", Model.Status)

<div class="container-space">
    <div class="panel panel-default">
        @Html.Partial("changesmodular", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        adjustTimeStamp();
    });
</script>
