@using System.Net
@using Crossout.AspWeb
@using Crossout.AspWeb.Helper
@using Crossout.Model.Items
@{
    Layout = "_Layout";
}

@model Crossout.AspWeb.Models.General.SearchModel

<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="half-hd-container px-3">

    <partial name="filter" model="@Model" />

    @if (WebSettings.Settings.EnableAds)
    {
        <div class="d-flex my-1 justify-content-center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-1215488197322962"
                 data-ad-slot="3124709022"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }

    <div class="card my-1 p-1 d-none" id="dtButtonWrapper">
        <div class="d-flex justify-content-center my-1" id="dt-buttons"></div>
    </div>

    <div class="card d-none my-1" id="table-wrapper">
        <table id="ItemTable" class="table table-striped table-borderless table-hover dt-responsive">
            <thead>
                <tr>
                    <th class="dt-col" id="itemCol" data-priority="1">
                        Item
                    </th>
                    <th class="dt-col never" id="idCol">
                        ID
                    </th>
                    <th class="dt-col none" id="rarityCol">
                        Rarity
                    </th>
                    <th class="dt-col none" id="factionCol">
                        Faction
                    </th>
                    <th class="dt-col none" id="categoryCol">
                        Category
                    </th>
                    <th class="dt-col none" id="typeCol">
                        Type
                    </th>
                    <th class="dt-col none" id="availableCol">
                        Available
                    </th>
                    <th class="dt-col none" id="craftableCol">
                        Craftable
                    </th>
                    <th class="dt-col none" id="metaCol">
                        Meta
                    </th>
                    <th class="dt-col none" id="popularityCol">
                        Popularity
                    </th>
                    <th class="dt-col" id="sellCol" data-priority="1">
                        Sell
                    </th>
                    <th class="dt-col" id="offersCol" data-priority="2">
                        Offers
                    </th>
                    <th class="dt-col none" id="craftCostSellCol">
                        Craft Cost (Sell)
                    </th>
                    <th class="dt-col" id="buyCol" data-priority="1">
                        Buy
                    </th>
                    <th class="dt-col" id="ordersCol" data-priority="2">
                        Orders
                    </th>
                    <th class="dt-col none" id="craftCostBuyCol">
                        Craft Cost (Buy)
                    </th>
                    <th class="dt-col none" id="marginCol" data-priority="2">
                        Margin
                    </th>
                    <th class="dt-col none" id="roiCol" data-priority="2">
                        ROI
                    </th>
                    <th class="dt-col none" id="craftMarginCol">
                        Carfting Margin
                    </th>
                    <th class="dt-col none" id="craftAdviceCol">
                        Carfting Advice
                    </th>
                    <th class="dt-col none" id="lastUpdateCol">
                        Last Update
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (Item item in Model.SearchResult)
                {
                    <partial name="itempart" model="@item" />
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/scripts/internal/locationhash.js?@(CacheBuster.Seconds)"></script>
<script src="~/scripts/internal/search.js?@(CacheBuster.Seconds)"></script>