@using System.Net
@using Crossout.AspWeb
@using Crossout.AspWeb.Helper
@using Crossout.Model.Items
@{
    Layout = "_Layout";
}

@model Crossout.AspWeb.Models.General.SearchModel

<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="half-hd-container px-3">

    <partial name="filter" model="@Model" />

    @if (WebSettings.Settings.EnableAds)
    {
    <div class="d-flex my-1 justify-content-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Leaderboard -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-1215488197322962"
             data-ad-slot="3124709022"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    }

    <div id="loadingIcon" class="d-flex justify-content-center"><img src="~/icons/Spinner-1s-360px.png" /></div>

    <div class="extended-setting">
        <div class="card my-1 p-1 d-none" id="dtButtonWrapper">
            <div class="d-flex justify-content-center my-1" id="dt-buttons"></div>
        </div>
    </div>

    <div class="card d-none my-1" id="table-wrapper">
        <partial name="DataTableAjax" model="@Model" />
    </div>
</div>

<script src="~/scripts/internal/locationhash.js?@(CacheBuster.Once)"></script>
<script src="~/scripts/internal/search.js?@(CacheBuster.Once)"></script>

