@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.Web.Models
@using Crossout.Web.Models.Changes

@{
    Layout = "_Layout";
}

@model Crossout.Web.Models.Changes.ChangesModel

<partial name="header" model="@Model" />
<partial name="status" model="@Model.Status" />

<div class="container-space">
    <div class="panel panel-default">
        <partial name="changesmodular" model="@Model" />
    </div>
</div>

<script>
    $(document).ready(function () {
        adjustTimeStamp();
    });
</script>
