<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  
  <targets>
    <target name="c" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message}">      
    </target>
    <target name="Debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss} ${message}">
    </target>
    <target
      name="f"
      xsi:type="File"
      fileName="${logDirectory}/${logger}.txt"
      layout="${longdate} ${callsite:className=false:methodName=true} ${level}: ${message}">
    </target>
    
  </targets>
  <rules>
    <logger minlevel="Debug" maxlevel="Fatal" writeTo="f"></logger>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="c"></logger>
  </rules>
</nlog>