.dark-mode body {
  background-color: #1e1e1e; }

.dark-mode main {
  color: #f8f9fa; }

.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #343a40; }

.dark-mode hr {
  border-color: #343a40; }

.dark-mode .table {
  color: #f8f9fa; }

.dark-mode .table-hover tbody tr:hover {
  background-color: #212529;
  color: #fff; }

.dark-mode .table .odd {
  background-color: #212529; }

.dark-mode .table-info,
.dark-mode .table-info th,
.dark-mode .table-info td {
  background-color: rgba(23, 162, 184, 0.1) !important; }

.dark-mode .table-info:hover,
.dark-mode .table-info:hover th,
.dark-mode .table-info:hover td {
  background-color: rgba(23, 162, 184, 0.15) !important; }

.dark-mode table.dataTable > tbody > tr.child ul.dtr-details > li {
  border-bottom: 1px solid #343a40; }

.dark-mode .page-link {
  background-color: #343a40;
  border: 1px solid #343a40; }

.dark-mode .page-link:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; }

.dark-mode .page-item.active .page-link {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; }

.dark-mode .page-item.disabled .page-link {
  background-color: #212529;
  border-color: #343a40; }

.dark-mode .dropdown-menu {
  background-color: #1e1e1e;
  color: #f8f9fa;
  border-color: #6c757d; }

.dark-mode .dropdown-item {
  color: #6c757d; }

.dark-mode .dropdown-item:hover, .dropdown-item:focus {
  color: #fff;
  background-color: #6c757d; }

.dark-mode .form-control,
.dark-mode .form-control:focus {
  background-color: #1e1e1e;
  border-color: #343a40;
  color: #f8f9fa; }

.dark-mode .input-group-text {
  background-color: #212529;
  border-color: #343a40; }

.dark-mode .btn-outline-secondary {
  border-color: #343a40; }

.dark-mode .nav-tabs .nav-link.active,
.dark-mode .nav-tabs .nav-item.show .nav-link {
  color: #f8f9fa;
  background-color: #1e1e1e;
  border-color: #343a40;
  border-bottom-color: transparent; }

.dark-mode .card-header {
  background-color: #212529;
  border-color: #343a40; }

.dark-mode .progress {
  background-color: #212529; }

.dark-mode .progress-bar {
  color: #f8f9fa; }

.dark-mode .sum-row {
  background-color: #212529; }

.dark-mode .highcharts-button-box {
  fill: #343a40; }

.dark-mode .highcharts-button-normal text {
  fill: #6c757d !important; }

.dark-mode .highcharts-button-pressed text {
  fill: #f8f9fa !important; }

.dark-mode .highcharts-range-input text {
  fill: #6c757d !important; }

.dark-mode .highcharts-grid-line,
.dark-mode .highcharts-minor-grid-line {
  stroke: #212529; }

.dark-mode .highcharts-navigator-handle,
.dark-mode .highcharts-scrollbar-thumb,
.dark-mode .highcharts-scrollbar-button {
  fill: #6c757d;
  stroke: #343a40; }

.dark-mode .highcharts-scrollbar-track {
  fill: #495057;
  stroke: #343a40; }

.dark-mode .highcharts-navigator-outline {
  stroke: #343a40; }
