/* Most of this is probably not used, it was reused from another project */

.main {
  padding: 0;
}

.main .page-header {
  margin-top: 0;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.modal-title {
    font-size: 18px;
}

html {
  position: relative;
}

body {
  background: white;
}

.blue {
    color: #44BBFF;
}

.form-group {
    margin: 4px;
}

.fill {
    display: block;
    height: 100%;
    
    margin-top: 0px;
    padding-bottom: 0px;
}

.fillFull {
    display: block;
    height: 100%;
    
    margin-top: 0px;
    padding-bottom: 20px;
}

.header-title li{
    color: white;
}

.navbar-inverse {
    color: white;
    padding: 8px;
}

.social-btns {
    margin-right: 16px;
}

/* Rarity Labels */

.label-Common{
  background: #696969;
  color: white;
}

.label-Rare {
    background: #0040fd;
    color: white;
}

.label-Epic {
    background: #6a0082;
    color: white;
}

.label-Legendary {
    background: #daa520;
    color: white;
}

.label-Relic {
    background: #d2691e;
    color: white;
}

.label-Special {
    background: #33cccc;
    color: white;
}

.label-md {
  display: block;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color: #595959;
  text-align: right;
  white-space: nowrap;
  vertical-align: baseline;
}

.label-md-left {
    display: block;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #595959;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.tree-icon {
    width: 32px;
    height: 32px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.btn-sub {
    margin-left: -26px;
}

.recipe-price {
    display: block;   
}

.rec-left {
    margin-left: 12px;
}

.rec-right {
    margin-right: 12px;
}

.sum-row { /* Chrome Issues with lines in collapsed table rows? */
    /*border-bottom-width: 2px;
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;*/
    background-color: #eeeeee;
}

.sum-value {
    display: inline;
}

.sum-pos {
    color: green;
}

.sum-neg {
    color: red;
}

.item-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.item-type {
    font-size: 11px;
}

.item-faction {
    font-weight: bold;
    font-size: 14px;
}

.item-image-search {
    width:56px;
    height:56px;
}

.item-image-big {
    width:64px;
    height:64px;
}

.item-image-med {
    width: 32px;
    height: 32px;
}

.item-image-auto-size {
    width: auto;
    height: auto;
}

.item-image-highres {
    width: 128px;
    height: auto;
}

.item-removed {
    color: gray;
}

.item-timestamp {
    color: green;
}

.item-older-than-5 {
    color: orange;
}

.item-older-than-60 {
    color: firebrick;
}

/* css magic to align like how we want to have it */
.dataTables_paginate {
    text-align: left !important;
}

.dataTables_length {
    text-align: right !important;
}

.dataTables_info {
    text-align: right !important;
}

.content-space {
    margin: 6px;
}

.pre-custom {
    display: block;
    unicode-bidi: embed;
    white-space: pre;
}

.container-space {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

/* Stat Styles */

.stat-heading-3 {
    font-weight: bold;
    font-size: 20px;
}

.stat-title {
    font-size:20px;
}

.stat-title-row {
    background-color: #F5F5F5;
}

.stat-text {
  display: block;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color: #595959;
  white-space: nowrap;
  vertical-align: baseline;
}

/* Stat Styles end*/

.progress-small {
    margin-bottom: 0 !important;
}

.desc-red {
    color: #b22222;
    font-weight: bold;
}

.desc-green {
    color: #006400;
    font-weight: bold;
}

.desc-default {
    font-weight: bold;
}

.crossoutdb-logo {
    height: 40px;
    image-rendering: -webkit-optimize-contrast;
}

.shopping-list-title {
    font-weight: bold;
    font-size: 14px;
}

/* Datatables Button correction */
.dataTables_button{
    margin: 2px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.navbar-nav li a {
    line-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-form {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* container-fluid fix */
.container-fluid {
    overflow-x: hidden;
}

/* tools page */
.fixed-panel {
    min-height: 231px;
}

.img-crop {
    max-height: 120px;
    overflow: hidden;
}

.half-hd-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.filter-range-text {
    width: 120px;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 15px;
    font-size: 18px;
}


.feather {
    width: 24px;
    height: 24px;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather:hover {
    stroke: rgba(255, 255, 255, 0.75);
}

li.active a svg {
    stroke: white;
}

li.active a svg:hover {
    stroke: white;
}

.dropdown-menu a {
    cursor: pointer;
}

.feather-footer {
    width: 14px;
    height: 14px;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.changes-image {
    width: 16px;
    height: 16px;
}

.folded-in:after {
    content: '+';
}

.folded-out:after {
    content: '-';
}

.nav-tabs li a {
    color: #6c757d;
}

.pack-table tr td {
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    background-color: transparent !important;
    color: #6c757d !important;
    border: 1px solid #6c757d !important;
    box-shadow: none !important;
}

.overlay-container {
    position: relative;
}

.img-overlay-packs-discount {
    position: absolute;
    top: 0px;
    right: 0px;
}

.discount {
    color: #a4d007;
    background: #4c6b22;
}

.input-clear {
    position: absolute;
    top: 4px;
    right: 12px;
    z-index: 10;
}

.feather-input-clear {
    width: 18px;
    height: 18px;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-input-clear:hover {
    stroke: rgba(0, 0, 0, 0.75);
}