@{
    Layout = "_Layout";
}

@model Crossout.AspWeb.Models.General.SettingsModel
@{ 
    var loc = Model.Localizations;
}

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">
    <div class="card my-1 p-3">
        <p class="text-secondary"><loc model="loc" category="settings" name="title.general">General Settings</loc></p>

        <div class="form-inline my-1">
            <select class="form-control form-control-sm mr-1" id="langSelect">
                @foreach (var lang in Model.LanguageModel.AvailableLanguages)
                {
                    <option value="@lang.TwoLetterISOName">@lang.Name</option>
                }
            </select>
            <label class="control-label" for="langSelect"><loc model="loc" category="settings" name="label.language">Language</loc></label>
        </div>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="darkModeSwitch">
            <label class="custom-control-label" for="darkModeSwitch"><loc model="loc" category="settings" name="label.darkmode">Dark Mode</loc></label>
        </div>

        <div class="form-inline my-1">
            <input type="text" class="form-control form-control-sm mr-1" id="dateFormatText">
            <label for="dateFormatText"><loc model="loc" category="settings" name="label.dateformat">Date Format</loc> (<a href="https://momentjs.com/docs/#/parsing/string-format/"><loc model="loc" category="settings" name="link.docs">Docs</loc></a>)</label>
        </div>

        <div class="form-inline my-1">
            <input type="text" class="form-control form-control-sm mr-1" id="timeFormatText">
            <label for="timeFormatText"><loc model="loc" category="settings" name="label.timeformat">Time Format</loc> (<a href="https://momentjs.com/docs/#/parsing/string-format/"><loc model="loc" category="settings" name="link.docs">Docs</loc></a>)</label>
        </div>

        <div class="test-timestamp">@DateTime.UtcNow.ToString("yyyy-mm-dd HH:mm:ss")</div>

        <hr />

        <p class="text-secondary"><loc model="loc" category="settings" name="title.searchsettings">Search Page Settings</loc></p>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="fullSizeTable">
            <label class="custom-control-label" for="fullSizeTable"><loc model="loc" category="settings" name="label.fullsizetable">Full Size Table</loc></label>
        </div>

        <div class="form-inline my-1">
            <select class="form-control form-control-sm mr-1" id="filterStyleSelect">
                <option value="dropdown"><loc model="loc" category="settings" name="option.filter.dropdowns">Dropdowns</loc></option>
                <option value="vertical-buttons"><loc model="loc" category="settings" name="option.filter.buttons">Buttons</loc></option>
                <option value="legacy-filters"><loc model="loc" category="settings" name="option.filter.legacy">Legacy</loc></option>
            </select>
            <label class="control-label" for="filterStyleSelect"><loc model="loc" category="settings" name="label.filterstyle">Filter Style</loc></label>
        </div>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="rangeFiltersSwitch">
            <label class="custom-control-label" for="rangeFiltersSwitch"><loc model="loc" category="settings" name="label.rangefilters">Range Filters</loc></label>
        </div>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="exportButtonsSwitch">
            <label class="custom-control-label" for="exportButtonsSwitch"><loc model="loc" category="settings" name="label.exportbuttons">Export Buttons</loc></label>
        </div>

        <div class="form-inline my-1">
            <select class="form-control form-control-sm mr-1" id="lengthSelect">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="-1"><loc model="loc" category="settings" name="option.entriesshown.all">All</loc></option>
            </select>
            <label class="control-label" for="lengthSelect"><loc model="loc" category="settings" name="label.entriesshown">Entries shown</loc></label>
        </div>

        <hr />

        <p class="text-secondary"><loc model="loc" category="settings" name="title.itemsettings">Item Page Settings</loc></p>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="fullSizeTabs">
            <label class="custom-control-label" for="fullSizeTabs"><loc model="loc" category="settings" name="label.fullsizetabs">Full Size Tabs</loc></label>
        </div>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="dataGroupingSwitch">
            <label class="custom-control-label" for="dataGroupingSwitch"><loc model="loc" category="settings" name="label.chartdatagrouping">Chart Data Grouping</loc></label>
        </div>

        @*<div class="form-inline my-1">
            <input type="text" class="form-control form-control-sm mr-1" id="recipeOtherCostsAmountText">
            <label for="recipeOtherCostsAmountText">Recipe Other Costs Amount</label>
        </div>

        <div class="form-inline my-1">
            <input type="text" class="form-control form-control-sm mr-1" id="recipeOtherCostsSellPriceText">
            <label for="recipeOtherCostsSellPriceText">Recipe Other Costs Sell Price</label>
        </div>

        <div class="form-inline my-1">
            <input type="text" class="form-control form-control-sm mr-1" id="recipeOtherCostsBuyPriceText">
            <label for="recipeOtherCostsBuyPriceText">Recipe Other Costs Buy Price</label>
        </div>*@

        <hr />

        <p class="text-secondary"><loc model="loc" category="settings" name="title.packssettings">Packs Page Settings</loc></p>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="fullSizePacks">
            <label class="custom-control-label" for="fullSizePacks"><loc model="loc" category="settings" name="label.fullsizepacks">Full Size Packs</loc></label>
        </div>

        <hr />

        <p class="text-secondary"><loc model="loc" category="settings" name="title.advancedsettings">Advanced Settings</loc></p>

        <div class="custom-control custom-switch my-1">
            <input type="checkbox" class="custom-control-input" id="localizationHelper">
            <label class="custom-control-label" for="localizationHelper"><loc model="loc" category="settings" name="label.localizationhelper">Localization Helper</loc></label>
        </div>

        <hr />

        <p class="text-secondary"><loc model="loc" category="settings" name="title.exportimport">Export / Import</loc></p>

        <div class="input-group">
            <textarea class="form-control" rows="3" id="settingsStringBase64"></textarea>
            <div class="invalid-feedback">
                <loc model="loc" category="settings" name="error.couldntparse">Couldn't parse settings</loc>
            </div>
        </div>

        <div class="btn-group mt-1">
            <button class="btn btn-outline-secondary" onclick="exportCookie()"><loc model="loc" category="settings" name="button.exportsettings">Export Settings</loc></button>
            <button class="btn btn-outline-secondary" onclick="parseCookie()"><loc model="loc" category="settings" name="button.parsestring">Parse String</loc></button>
            <button class="btn btn-outline-secondary" onclick="importCookie(); applySettings();"><loc model="loc" category="settings" name="button.importstring">Import String</loc></button>
        </div>
    </div>
</div>

<script>
    function applySettings() {
        // General settings
        var lang = Cookies.get('language');
        $('#langSelect').val(lang != undefined ? lang : 'en');
        $('#darkModeSwitch').prop('checked', readSetting('dark-mode'));
        $('#dateFormatText').val(readSetting('timestamp-format-date'));
        $('#timeFormatText').val(readSetting('timestamp-format-time'));
        updateTestTimestamp();
        // Search settings
        $('#fullSizeTable').prop('checked', readSetting('full-size-table'));
        $('#filterStyleSelect').val(readFilterSettings());
        $('#rangeFiltersSwitch').prop('checked', readSetting('range-filters'));
        $('#exportButtonsSwitch').prop('checked', readSetting('export-buttons'));
        $('#lengthSelect').val(readSetting('length'));
        // Item settings
        $('#fullSizeTabs').prop('checked', readSetting('full-size-item-tabs'));
        $('#dataGroupingSwitch').prop('checked', readSetting('data-grouping'));
        $('#recipeOtherCostsAmountText').val(readSetting('recipe-other-costs-amount'));
        $('#recipeOtherCostsSellPriceText').val(readSetting('recipe-other-costs-sellprice'));
        $('#recipeOtherCostsBuyPriceText').val(readSetting('recipe-other-costs-buyprice'));
        // Packs Settings
        $('#fullSizePacks').prop('checked', readSetting('full-size-packs'));
        // Advanced Settings
        $('#localizationHelper').prop('checked', readSetting('localization-helper'));

    }

    // Apply current settings
    $(document).ready(function () {
        applySettings();
    });

    // General settings
    $('#langSelect').change(function () {
        Cookies.set('language', this.value, { expires: 365 });
    });
    $('#darkModeSwitch').change(function () {
        writeSetting('dark-mode', this.checked);
        if (this.checked)
            $('html').addClass('dark-mode');
        else
            $('html').removeClass('dark-mode');
    });
    $('#dateFormatText').change(function () {
        writeSetting('timestamp-format-date', this.value);
        updateTestTimestamp();
    });
    $('#timeFormatText').change(function () {
        writeSetting('timestamp-format-time', this.value);
        updateTestTimestamp();
    });

    function updateTestTimestamp() {
        $('.test-timestamp').text(moment().format(readSetting('timestamp-format-date') + ' ' + readSetting('timestamp-format-time')));
    }

    // Search settings
    $('#fullSizeTable').change(function () {
        writeSetting('full-size-table', this.checked);
    });
    $('#filterStyleSelect').change(function () {
        writeSetting('dropdown', false);
        writeSetting('vertical-buttons', false);
        writeSetting('legacy-filters', false);
        writeSetting(this.value, true);
    });
    $('#rangeFiltersSwitch').change(function () {
        writeSetting('range-filters', this.checked);
    });
    $('#exportButtonsSwitch').change(function () {
        writeSetting('export-buttons', this.checked);
    });
    $('#lengthSelect').change(function () {
        writeSetting('length', this.value);
    });

    // Item settings
    $('#fullSizeTabs').change(function () {
        writeSetting('full-size-item-tabs', this.checked);
    });
    $('#dataGroupingSwitch').change(function () {
        writeSetting('data-grouping', this.checked);
    });
    $('#recipeOtherCostsAmountText').change(function () {
        writeSetting('recipe-other-costs-amount', this.value);
    });
    $('#recipeOtherCostsSellPriceText').change(function () {
        writeSetting('recipe-other-costs-sellprice', this.value);
    });
    $('#recipeOtherCostsBuyPriceText').change(function () {
        writeSetting('recipe-other-costs-buyprice', this.value);
    });

    // Packs Settings
    $('#fullSizePacks').change(function () {
        writeSetting('full-size-packs', this.checked);
    });

    // Advanced Settings
    $('#localizationHelper').change(function () {
        writeSetting('localization-helper', this.checked);
    });

</script>