@{
    Layout = "_Layout";
}

@using Crossout.AspWeb.Models.Drafts
@model DraftsModel

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">
    <div class="card my-1">
        <h4 class="card-title m-2">Drafts</h4>

        <div class="m-2">
            <a href="~/drafts/badgeexchange">Badge Exchange</a>
        </div>

        <div class="m-2">
            <a href="~/drafts/sniper">Item Sniper</a>
        </div>
    </div>
</div>