@model Crossout.AspWeb.Models.View.BaseViewModel
@{ 
    var loc = Model.Localizations;
}

<footer class="bg-dark mt-auto">
    <div class="half-hd-container">
        <div class="mt-1 p-3 row">
            <div class="col">
                <h5 class="text-white-50">CrossoutDB</h5>
                <h6 class="text-white-50"><loc model="loc" category="shared" name="footer.desc.authors.p1">Made with</loc> <svg class="feather-footer"><use xlink:href="/icons/feather-sprite.svg#coffee" /></svg> <loc model="loc" category="shared" name="footer.desc.authors.p2">and</loc> <svg class="feather-footer"><use xlink:href="/icons/feather-sprite.svg#heart" /></svg></h6>
                <h6 class="text-white-50"><loc model="loc" category="shared" name="footer.desc.authors.p3">by</loc> Zicore <loc model="loc" category="shared" name="footer.desc.authors.p4">and</loc> Stiffi136</h6>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="DLKDL7UX9L5NN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="col">
                <h5 class="text-white-50"><loc model="loc" category="shared" name="footer.title.links">Links</loc></h5>
                <div class="row">
                    <div class="col">
                        <h6 class="text-white-50"><a class="text-white-50" href="https://discord.gg/D3TQtm5">Discord</a></h6>
                        <h6 class="text-white-50"><a class="text-white-50" href="https://forum.crossout.net/index.php?/topic/263325-website-crossout-trade-market-graphs/">Forums</a></h6>
                    </div>
                    <div class="col">
                        <h6 class="text-white-50"><a class="text-white-50" href="https://github.com/Zicore/CrossoutMarket">Github</a></h6>
                        <h6 class="text-white-50"><a class="text-white-50" href="https://www.youtube.com/channel/UCC58ZdTAgdtJ90hzpH0Fo2Q/videos">YouTube</a></h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="text-white-50"><loc model="loc" category="shared" name="footer.title.disclaimer">Disclaimer</loc></h5>
                <h6 class="text-white-50"><loc model="loc" category="shared" name="footer.desc.disclaimer">CrossoutDB is a community website and is not affiliated with Targem, Gaijin or Crossout</loc></h6>
            </div>
        </div>
    </div>
</footer>