@{
    Layout = "_Layout";
}

@using Crossout.AspWeb.Models.General
@model ToolsModel

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">
    This page has been moved to <a href="/links">crossoutdb.com/links</a>
</div>