@{
    Layout = "_Layout";
}

@using Crossout.AspWeb.Models.General
@model ToolsModel
@{
    var loc = Model.Localizations;
}

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2"><loc model="loc" category="communitylinks" name="title.officialdiscord">Official Crossout Discord</loc></h6>
                <div class="img-crop">
                    <a href="https://discord.gg/GgSpHzw"><img class="img-fluid" src="~/img/tools/discord.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://discord.gg/GgSpHzw" role="button"><loc model="loc" category="communitylinks" name="button.invitelink">Invite Link</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">Crossout Market Discord Bot <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> Akio</small></h6>
                <div class="img-crop">
                    <a href="https://forum.crossout.net/index.php?/topic/295123-crossout-market-discord-bot/"><img class="img-fluid" src="~/img/tools/discordbot1.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://forum.crossout.net/index.php?/topic/295123-crossout-market-discord-bot/" role="button"><loc model="loc" category="communitylinks" name="button.forum">Forum Thread</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">Stats Spreadsheet (Russian) <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> LIKONDR & valdarkwall</small></h6>
                <div class="img-crop">
                    <a href="https://docs.google.com/spreadsheets/d/1Us0LKXpEZ07eWFpUvuUSgaAtT8w9vNs2QlmYWe0H7kU/edit"><img class="img-fluid" src="~/img/tools/spreadsheetrussian.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://docs.google.com/spreadsheets/d/1Us0LKXpEZ07eWFpUvuUSgaAtT8w9vNs2QlmYWe0H7kU/edit" role="button"><loc model="loc" category="communitylinks" name="button.spreadsheetlink">Spreadsheet Link</loc></a>
                    <a class="btn btn-outline-secondary btn-sm" href="https://forum.crossout.ru/index.php?/topic/29702-tablitsa-s-tsifrovymi-znacheniyami-vsekh-modulei-dvizhitelei-i-vooruzheniya/" role="button"><loc model="loc" category="communitylinks" name="button.forum">Forum Thread</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">Stats Spreadsheet (English) <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> valdarkwall</small></h6>
                <div class="img-crop">
                    <a href="https://docs.google.com/spreadsheets/d/15ASdvLE_T3t7_biF0ocaCxZMPSA8LkSXyDx4UitZ9EE/edit"><img class="img-fluid" src="~/img/tools/spreadsheetenglish.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://docs.google.com/spreadsheets/d/15ASdvLE_T3t7_biF0ocaCxZMPSA8LkSXyDx4UitZ9EE/edit" role="button"><loc model="loc" category="communitylinks" name="button.spreadsheetlink">Spreadsheet Link</loc></a>
                    <a class="btn btn-outline-secondary btn-sm" href="https://forum.crossout.net/index.php?/topic/284659-crossout-detailed-stats-spreadsheet/" role="button"><loc model="loc" category="communitylinks" name="button.forum">Forum Thread</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">CrossDB.ru <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> XwiruS</small></h6>
                <div class="img-crop">
                    <a href="https://crossdb.ru/"><img class="img-fluid" src="~/img/tools/crossdb.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://crossdb.ru/" role="button"><loc model="loc" category="communitylinks" name="button.websitelink">Website Link</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">Crossout Grindmaster Spreadsheet <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> knifers</small></h6>
                <div class="img-crop">
                    <a href="https://sites.google.com/view/grndmstr"><img class="img-fluid" style="position: relative; bottom: 100px;" src="~/img/tools/grindmaster.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://sites.google.com/view/grndmstr" role="button"><loc model="loc" category="communitylinks" name="button.spreadsheetlink">Spreadsheet Link</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">Crossout Reddit <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> Mike_Prowe</small></h6>
                <div class="img-crop">
                    <a href="https://www.reddit.com/r/Crossout/"><img class="img-fluid" src="~/img/tools/crossoutreddit2.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://www.reddit.com/r/Crossout/" role="button"><loc model="loc" category="communitylinks" name="button.redditlink">Reddit Link</loc></a>
                </h6>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card my-1">
                <h6 class="m-1 p-2">Crossout Translator <small class="text-muted"><loc model="loc" category="communitylinks" name="label.author.by">by</loc> GeneralAnasazi</small></h6>
                <div class="img-crop">
                    <a href="https://forum.crossout.net/index.php?/topic/294087-pc-crossout-translator/"><img class="img-fluid" src="~/img/tools/crossouttranslator.png" /></a>
                </div>
                <h6 class="m-1">
                    <a class="btn btn-outline-secondary btn-sm" href="https://forum.crossout.net/index.php?/topic/294087-pc-crossout-translator/" role="button"><loc model="loc" category="communitylinks" name="button.forum">Forum Thread</loc></a>
                </h6>
            </div>
        </div>
    </div>
</div>