@using Nancy.ViewEngines.Razor;
@using Crossout.Web
@using Zicore.Settings.Json
@using Zicore.Settings
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Web.Models.Items.ItemModel>


<div id="container" style="height: 600px; min-width: 310px"></div>

<script>
    $(function () {
        var seriesOptions = [],
            seriesCounter = 0,
            names = [{name:'Sell',type:0}, {name:'Buy',type:0}, {name:'SellOffers',type:1},{name:'BuyOrders',type:1}];

        /**
         * Create the chart when all data is loaded
         * returns {undefined}
         */
        function createChart() {

            $('#container').highcharts('StockChart', {

                rangeSelector: {
                    allButtonsEnabled: true,
                    buttons: [{
                        type: 'hour',
                        count: 6,
                        text: '6h',
                        dataGrouping: {
                            forced: true,
                            units: [['minute', [1]]]
                        }
                    }, {
                        type: 'hour',
                        count: 12,
                        text: '12h',
                        dataGrouping: {
                            forced: true,
                            units: [['minute', [1]]]
                        }
                    }, {
                        type: 'hour',
                        count: 24,
                        text: '1d',
                        dataGrouping: {
                            forced: true,
                            units: [['minute', [30]]]
                        }
                    }, {
                        type: 'hour',
                        count: 72,
                        text: '3d',
                        dataGrouping: {
                            forced: true,
                            units: [['hour', [1]]]
                        }
                    }, {
                        type: 'hour',
                        count: 168,
                        text: '1w',
                        dataGrouping: {
                            forced: true,
                            units: [['hour', [6]]]
                        }
                    }, {
                        type: 'day',
                        count: 30,
                        text: '1m',
                        dataGrouping: {
                            forced: true,
                            units: [['hour', [12]]]
                        }
                    }, {
                        type: 'all',
                        text: 'all',
                        dataGrouping: {
                            forced: true,
                            units: [['hour', [12]]]
                        }
                    }],
                    buttonTheme: {
                        width: 20
                    },
                    selected: 2
                },
                title: {
                    text: 'Item Chart Data',
                    x: -20 //center
                },
                yAxis: [{
                    title: {
                        text: 'Prices'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2
                    }]
                },{
                    title: {
                        text: 'Volumes'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2
                    }],
                    opposite :false
                }],

                tooltip: {
                    pointFormat: '<span style="color:{series.color};font-size:16px;">{series.name}</span>: <b>{point.y}</b><br/>',
                    valueDecimals: 2
                },

                series: seriesOptions
            });
        }

        $.each(names, function (i, name) {
            var id = @Model.Item.Id;
            var host = '@WebSettings.Settings.DataHost';
            $.getJSON(location.protocol + '//@(Request.Url.HostName)/data/item/'+ name.name.toLowerCase() +'/' +id, function (data) {
                var series = {};
                if (name.type === 1) {
                    var color = '#44A5FF';
                    if (name.name === 'SellOffers') {
                        color = '#939393';
                    }
                    series =
                    {
                        name: name.name,
                        yAxis: 1,
                        data: data.Data,
                        type: 'column',
                        zIndex: 1,
                        color : color
                    };
                } else {
                    var color = '#32C922';
                    if (name.name === 'Sell') {
                        color = '#FF3D23';
                    }
                    series =
                    {
                        name: name.name,
                        data: data.Data,
                        type: 'line',
                        zIndex: 2,
                        color : color
                    };
                }

                seriesOptions[i] = series;
                // As we're loading the data asynchronously, we don't know what order it will arrive. So
                // we keep a counter and create the chart when all the data is loaded.
                seriesCounter += 1;

                if (seriesCounter === names.length) {
                    createChart();
                }
            });
        });


        $(document).ready(function() {
            // Load the fonts
            Highcharts.createElement('link', {
                href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
                rel: 'stylesheet',
                type: 'text/css'
            }, null, document.getElementsByTagName('head')[0]);

            Highcharts.theme = {
                colors: ["#7cb5ec", "#f7a35c", "#90ee7e", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee","#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
                chart: {
                    backgroundColor: null,
                    style: {
                        fontFamily: "Dosis, sans-serif"
                    }
                },
                title: {
                    style: {
                        fontSize: '16px',
                        fontWeight: 'bold',
                        textTransform: 'uppercase'
                    }
                },
                tooltip: {
                    borderWidth: 0,
                    backgroundColor: 'rgba(239,239,236,0.8)',
                    shadow: false
                },
                legend: {
                    itemStyle: {
                        fontWeight: 'bold',
                        fontSize: '13px'
                    }
                },
                xAxis: {
                    gridLineWidth: 1,
                    labels: {
                        style: {
                            fontSize: '12px'
                        }
                    }
                },
                yAxis: {
                    minorTickInterval: 'auto',
                    title: {
                        style: {
                            fontWeight: 'bold',
                            textTransform: 'uppercase'

                        }
                    },
                    labels: {
                        style: {
                            fontSize: '14px'
                        }
                    }
                },
                plotOptions: {
                    candlestick: {
                        lineColor: '#404048'
                    }
                },
                // General
                background2: '#F0F0EA'
            };

            // Apply the theme
            Highcharts.setOptions(Highcharts.theme);
        });
    });
</script>
