<footer>
    <div class="navbar-inverse navbar-default navbar-static-top">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <p class="pull-left">
                Created by <a href="http://twitter.com/Zicore">@@Zicore</a> &amp; <a href="http://twitter.com/Stiffi136">@@Stiffi136</a> 
                Feedback at <a href="https://forum.crossout.net/index.php?/topic/263325-website-crossout-trade-market-graphs/">Forums</a> / <a href="https://www.reddit.com/r/Crossout/comments/524ufa/website_crossout_trade_market_graphs/">Reddit</a> / <a href="http://steamcommunity.com/app/386180/discussions/0/350541595114889558/">Steam</a> / <a href="https://github.com/Zicore/CrossoutMarket">Github</a>
            </p>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://crossout.net/">All rights reserverd. © 2015 - 2016 by Gaijin Entertainment.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>