<footer>
    <div class="navbar-inverse navbar-default navbar-static-top">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <p class="pull-left">
                <a href="https://github.com/Zicore/CrossoutMarket">Open source</a> project by Zicore &amp; Stiffi136
                Feedback at <a href="http://twitter.com/crossoutDB">@@CrossoutDB</a> / <a href="https://forum.crossout.net/index.php?/topic/263325-website-crossout-trade-market-graphs/">Forums</a> / <a href="https://kiwiirc.com/client/irc.kiwiirc.com/?nick=CrossoutDB|?#crossoutdb">IRC</a>
            </p>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://crossout.net/">All rights reserverd. © 2015 - 2016 by Gaijin Entertainment.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>