<footer>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyAb1ySwDweY5VJVTQALIvarUmauODlCvLk",
            authDomain: "crossoutdbchat.firebaseapp.com",
            databaseURL: "https://crossoutdbchat.firebaseio.com",
            storageBucket: "crossoutdbchat.appspot.com",
            messagingSenderId: "1004549302615"
          };
          firebase.initializeApp(config);
    </script>

    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

    <script>
          var database = firebase.database();

          function login() {
              // Log the user in via Twitter
              var provider = new firebase.auth.TwitterAuthProvider();
              firebase.auth().signInWithPopup(provider).catch(function(error) {
                  console.log("Error authenticating user:", error);
              });
          }

          firebase.auth().onAuthStateChanged(function(user) {
            // Once authenticated, instantiate Firechat with the logged in user
            if (user) {
                initChat(user);
            }
          });

          function initChat(user) {
            // Get a Firebase Database ref
            var chatRef = firebase.database().ref("chat");

            // Create a Firechat instance
            var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));

            // Set the Firechat user
            chat.setUser(user.uid, user.displayName);
          }

        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if($(e).is(":visible"))
                $(e).hide();
            else
                $(e).show();
        }
    </script>

    <div id="chat-spoiler">
        <center>
            <button style="display: block; width: 100%; height: 20px;" onclick="toggle_visibility('firechat-wrapper');" class="spoilb">
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </button>
        </center>
    </div>

    <div id="firechat-wrapper" style="display: none;"">
        <center><button onclick="login();">Login with Twitter to use the chat</button></center>
    </div>

    <div class="navbar-inverse navbar-default navbar-static-top">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <p class="pull-left">
                <a href="https://github.com/Zicore/CrossoutMarket">Open source</a> project by <a href="http://twitter.com/Zicore">@@Zicore</a> &amp; <a href="http://twitter.com/Stiffi136">@@Stiffi136</a>
                Feedback at <a href="https://forum.crossout.net/index.php?/topic/263325-website-crossout-trade-market-graphs/">Forums</a> / <a href="https://www.reddit.com/r/Crossout/comments/524ufa/website_crossout_trade_market_graphs/">Reddit</a> / <a href="http://steamcommunity.com/app/386180/discussions/0/350541595114889558/">Steam</a> / <a href="https://github.com/Zicore/CrossoutMarket">Github</a>
            </p>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://crossout.net/">All rights reserverd. © 2015 - 2016 by Gaijin Entertainment.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>