<footer class="navbar-fixed-bottom">
    <div class="navbar-inverse navbar-default navbar-static-top">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <p class="pull-left">
                <a href="https://github.com/Zicore/CrossoutMarket">Open source project</a> by Zicore &amp; Stiffi136
                Feedback at <a href="http://twitter.com/crossoutDB">@@CrossoutDB</a> - <a href="https://forum.crossout.net/index.php?/topic/263325-website-crossout-trade-market-graphs/">Forums</a> - <a href="https://kiwiirc.com/client/irc.kiwiirc.com/?nick=CrossoutDB|?#crossoutdb">IRC</a>
            </p>
            <div class="col-sm-1 col-md-1">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="DLKDL7UX9L5NN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://crossout.net/">All rights reserverd. © 2015 - 2017 by Gaijin Entertainment.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>