@{
    Layout = "layout.cshtml";
}

@using Crossout.Model.Items
@using Crossout.Web
@using Crossout.Web.Models
@using Crossout.Data.PremiumPackages
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Crossout.Web.Models.General.LoadingDataModel>


@Html.Partial("header", Model)

<div class="container">
    <div class="alert alert-warning text-center" role="alert" style="margin-top: 8px">The server just started and is currently loading all the nescessary data. This shouldn't take longer than 1 minute.</div>
</div>