@{
    Layout = "layout.cshtml";
}

@using Crossout.Web.Models.General
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ToolsModel>


@Html.Partial("header", Model)

<div class="container-space">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Official Crossout Discord</h4>
                <div class="img-crop">
                    <a href="https://discord.gg/GgSpHzw"><img class="img-responsive" src="~/img/tools/discord.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://discord.gg/GgSpHzw" role="button">Invite Link</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Crossout Market Discord Bot <small>by Akio</small></h4>
                <div class="img-crop">
                    <a href="https://forum.crossout.net/index.php?/topic/295123-crossout-market-discord-bot/"><img class="img-responsive" src="~/img/tools/discordbot1.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://forum.crossout.net/index.php?/topic/295123-crossout-market-discord-bot/" role="button">Forum Thread</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Stats Spreadsheet (Russian) <small>by LIKONDR & valdarkwall</small></h4>
                <div class="img-crop">
                    <a href="https://docs.google.com/spreadsheets/d/1Us0LKXpEZ07eWFpUvuUSgaAtT8w9vNs2QlmYWe0H7kU/edit"><img class="img-responsive" src="~/img/tools/spreadsheetrussian.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1Us0LKXpEZ07eWFpUvuUSgaAtT8w9vNs2QlmYWe0H7kU/edit" role="button">Spreadsheet Link</a>
                    <a class="btn btn-default" href="https://forum.crossout.ru/index.php?/topic/29702-tablitsa-s-tsifrovymi-znacheniyami-vsekh-modulei-dvizhitelei-i-vooruzheniya/" role="button">Forum Thread</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Stats Spreadsheet (English) <small>by valdarkwall</small></h4>
                <div class="img-crop">
                    <a href="https://docs.google.com/spreadsheets/d/15ASdvLE_T3t7_biF0ocaCxZMPSA8LkSXyDx4UitZ9EE/edit"><img class="img-responsive" src="~/img/tools/spreadsheetenglish.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/15ASdvLE_T3t7_biF0ocaCxZMPSA8LkSXyDx4UitZ9EE/edit" role="button">Spreadsheet Link</a>
                    <a class="btn btn-default" href="https://forum.crossout.net/index.php?/topic/284659-crossout-detailed-stats-spreadsheet/" role="button">Forum Thread</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>CrossDB.ru <small>by XwiruS</small></h4>
                <div class="img-crop">
                    <a href="https://crossdb.ru/"><img class="img-responsive" src="~/img/tools/crossdb.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://crossdb.ru/" role="button">Website Link</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Crossout Grindmaster Spreadsheet <small>by knifers</small></h4>
                <div class="img-crop">
                    <a href="https://docs.google.com/spreadsheets/d/1z90w8NZ0Wt0zciBEY-DScTb28lf99VQeqtTGr4274h4/edit"><img class="img-responsive" src="~/img/tools/grindmaster.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1z90w8NZ0Wt0zciBEY-DScTb28lf99VQeqtTGr4274h4/edit" role="button">Spreadsheet Link</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Crossout Reddit <small>by Mike_Prowe</small></h4>
                <div class="img-crop">
                    <a href="https://www.reddit.com/r/Crossout/"><img class="img-responsive" src="~/img/tools/crossoutreddit2.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://www.reddit.com/r/Crossout/" role="button">Reddit Link</a>
                </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default fixed-panel" style="padding: 8px">
                <h4>Crossout Translator <small>by GeneralAnasazi</small></h4>
                <div class="img-crop">
                    <a href="https://forum.crossout.net/index.php?/topic/294087-pc-crossout-translator/"><img class="img-responsive" src="~/img/tools/crossouttranslator.png" /></a>
                </div>
                <h4>
                    <a class="btn btn-primary" href="https://forum.crossout.net/index.php?/topic/294087-pc-crossout-translator/" role="button">Forum Thread</a>
                </h4>
            </div>
        </div>
    </div>
</div>